.container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.detail {
  display: flex;
  flex-direction: column;
}
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
