@font-face {
  src: url('assets/fonts/Jaldi-Regular.ttf');
  font-family: 'sf-font-regular';
}

@font-face {
  src: url('assets/fonts/Jaldi-Bold.ttf');
  font-family: 'sf-font-bold';
}

html,
body {
  margin: 0;
  font-family: 'sf-font-regular', serif !important;
}

.react-multi-carousel-track {
  margin: revert !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'sf-font-bold', serif !important;
}
